<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.gentleflo.gentleflogram.post.dao.PostDAO">
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO
 			`post`
 		(
 			`userId`
 			, `loginId`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId}
 			, #{userLoginId}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectTimeLineList" resultType="com.gentleflo.gentleflogram.post.model.Post">
 		SELECT 
 			`id`
 			, `userId`
 			, `loginId`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`post`
 		ORDER BY `id` DESC
 	</select>
 	
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO
 			`comment`
 		(
 			`userId`
 			, `postId`
 			, `loginId`
 			, `commentContent`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId }
 			, #{postId }
 			, #{loginId }
 			, #{commentContent }
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectComment" resultType="com.gentleflo.gentleflogram.post.model.Comment">
 		SELECT 
 			`id`
 			, `userId`
 			, `postId`
 			, `loginId`
 			, `commentContent`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`comment`
 		ORDER BY `id` DESC
 	</select>
 </mapper>