@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 650px;
	margin: auto;
}

section {
	height: 700px;
	font-family: "Gill Sans", sans-serif;
	font-size: 14px;
}

.login-box {
	width:340px;
	border: solid 2px #dedede;
}
.input-style {
	background-color: #F9FBFC;
}
.btn-style {
	background-color: #F9FBFC;
	border: solid 1px #DDDDDD;
}

.main-logo {
	font-family: cursive;
}

.signup-box {
	width: 340px;
	height: 60px;
	border: solid 2px #dedede;
}

footer {
	height: 50px;
}
.language {
	font-size: 12px;
}