@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 70px;
}
.main-logo {
	font-family: cursive;
}
.top-menu {
	width: 900px;
	margin: auto;
}

input::-webkit-input-placeholder{
  text-align:center;
}
.input-style {
	background-color: #F9FBFC;
}

section {
	width: 500px;
}
.timeLine-box {
	border: solid 1.5px #8E8E8E;
}
.timeLine-box-profile {
	height:30px;
}
.login-id {
	font-size: 18px;
}
.delete-dots {
	font-size: 18px;
	font-weight: bold;
	color: black;
}
.icon-fam {
	font-size: 19px;
	font-weight: bold;
}
.comment-style {
	font-size: 15px;
}

aside {
	width: 300px;
}
.top-of-aside {
	height: 50px;
}
.comment-section {
	height: 18px;
}
.comment-input {
	background-color: transparent;
    border: 0px solid;
    height: 18px;
    width: 150px;
}

.profile-section {
	width: 500px;
	height: 110px;
	margin: auto;
}
.profile-edit-btn{
	border: solid 1px #dedede;
	line-height: 25px; 
}

.input-section {
	width: 620px;
	height: 200px;
	margin: auto;
}

.input-box {
	border: solid 2px rgb(148, 148, 148);
	border-radius: 10px;
	width: 580px;
	height: 190px;
}
.input-box-top {
	font-size: 15px;
	font-family: Verdana;
}
.image-upload-icon {
	font-size: 23px;
	color: #3F3F3F;
}

.share-btn {
	border: solid 1px #dedede;
	line-height: 25px; 
	background-color: #FFFFFF; 
}

.timeline-section {
	height: 400px;
}

.personal-timeline-icon {
	font-size: 24px;
	color: #505050;
}

.header-right-top {
	width: 170px;
	height: 33px;
}

​

